terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/Rocky-9-Vagrant-Vbox-9.4-20240509.0.x86_64.box
terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/terra-farm/virtualbox/0.2.2-alpha.1/linux_amd64/terraform-provider-virtualbox_v0.2.2-alpha.1
terraform/virtualbox-failed/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.0/linux_amd64/terraform-provider-libvirt_v0.8.0
terraform/terraform.tfstate.backup
.vscode/settings.json
ansible/.vscode/settings.json
vagrant/.vagrant/bundler/global.sol
vagrant/.vagrant/machines/cassandra01/virtualbox/action_provision
vagrant/.vagrant/machines/cassandra01/virtualbox/action_set_name
vagrant/.vagrant/machines/cassandra01/virtualbox/id
vagrant/.vagrant/machines/cassandra01/virtualbox/index_uuid
vagrant/.vagrant/machines/cassandra01/virtualbox/private_key
vagrant/.vagrant/machines/cassandra02/virtualbox/action_provision
vagrant/.vagrant/machines/cassandra02/virtualbox/action_set_name
vagrant/.vagrant/machines/cassandra02/virtualbox/id
vagrant/.vagrant/machines/cassandra02/virtualbox/index_uuid
vagrant/.vagrant/machines/cassandra02/virtualbox/private_key
vagrant/.vagrant/machines/cassandra03/virtualbox/action_provision
vagrant/.vagrant/machines/cassandra03/virtualbox/action_set_name
vagrant/.vagrant/machines/cassandra03/virtualbox/id
vagrant/.vagrant/machines/cassandra03/virtualbox/index_uuid
vagrant/.vagrant/machines/cassandra03/virtualbox/private_key
